{
  "arrowParens": "always",
  "bracketSpacing": true,
  "tabWidth": 2,
  "endOfLine": "crlf",
  "jsxSingleQuote": true,
  "printWidth": 90,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "semi": true,
  "jsxBracketSameLine": false,
  "singleQuote": true
}
