@media (max-width: 745px) {
    .lable-wrapper {
        margin-top: 0.5rem;

        text-align: center;
    }

    .main-lable {
        font-size: 3rem;
    }

    .login-form {
        min-height: 23rem !important;
        max-height: 30rem !important;
    }
}

.login-form {
    min-height: 100vh;
    background-color: #122737;
}
