@media (max-width: 745px) {
    .lable-wrapper {
        margin-top: 0.5rem;

        text-align: center;
    }

    .main-lable {
        font-size: 3rem;
    }
}

.login-form {
    height: 100vh !important;
    background-color: #122737;
}
