.league-table {
    .title {
        font-size: 25px;
        line-height: 27px;
        font-weight: bold;
    }
}

.league-table[id="0"] {
    grid-area: public;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
} 

.league-table[id="1"] {
    grid-area: private;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
} 

.league-table[id="2"] {
    grid-area: global;
} 

