:local(.steps) {
  position: sticky;
  top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

:local(.connector) {
  position: absolute;
  top: -55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 3rem;
  background: lightgrey;
}
