.modal-header {
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 40px;
}

.close:before,
.close:after {
  content: '';
  position: absolute;
  top: 21px;
  width: 26px;
  height: 4px;
  background: white;
}

.close:before {
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:after {
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
