:local(.gameweek-history) {
}

:local(.svg-button) {
  display: inline;
  vertical-align: initial;
  font-size: 10px;
}

:local(.gameweek-history-content) {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 1em;

  .title {
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
  }
}

:local(.btn-next) {
  margin-left: auto;
}
