:local(.gameweek-history) {
  svg {
    display: inline;
    vertical-align: initial;
    font-size: 10px;
  }

  :local(.gameweek-stats) {
    :local(.points) {
      font-size: 18px;

      span {
        font-size: 35px;
      }
    }
  }
}

:local(.gameweek-history-content) {
  display: grid;
  grid-template-columns: 70% 30%;

  .title {
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
  }
}

:local(.btn-next) {
  margin-left: auto;
}
