:local(.team-container) {
  flex: 1 0;

  position: relative;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: url(field.svg);
  background-size: 100% 100%;
  background-clip: border-box;
}

:local(.team) {
  display: flex;
  justify-content: center;

  > div {
    margin: 0 0.5rem;
  }
}

:local(.team-select-wrapper) {
  position: sticky;
  top: 1rem;

  flex: 1 0;
  width: 100%;
  max-height: calc(100vh - 2rem);
  overflow-y: auto;

  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.5);
}

:local(.team-selection-radio) {
  width: 10rem;
  padding: 0.5rem 1rem;

  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

:local(.form-team) {
  display: flex;
  background: rgb(33, 156, 105);
  border-radius: 5px;
  border: 2px solid rgb(33, 156, 105);
}

:local(.is-active) {
  background: #fff;
  color: #000;
}
