.leagues {
    min-height: 100vh;
    background-color: grey;

    .tables {
        display: grid;
        grid-template: 'private public' 'global global';
        grid-template-columns: repeat(2, minmax(450px, 1fr));
    }
}

.paper {
    background-color: #fff;
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.08);
    padding: 60px 50px;
}

.jumbotron {
    &.paper {
        min-height: 250px;
    }

    .title {
        font-size: 60px;
        line-height: 70px;
        font-weight: 600;

        &.sub {
            font-size: 14px;
            line-height: 20px;
            color: rgba(18, 39, 55, 0.7);
        }
    }

    button {
        transition: 0.2s;
        font-size: 15px;
        font-weight: 600;
        line-height: 16px;
        text-transform: uppercase;
    }
}
