:local(.sidebar) {
  display: flex;
  height: 100%;
  width: 70px;
  transition: width 0.3s;

  &:local(.open) {
    width: 150px;

    :local(.link-title) {
      visibility: visible;
      opacity: 1;
      margin-left: 8px;
    }

    :local(.username),
    :local(.points) {
      visibility: visible;
      opacity: 1;
    }

    :local(.username) {
      font-weight: bold;
    }
  }

  :local(.link-title) {
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s, width 0.3s;
  }

  :local(.username),
  :local(.points) {
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s, padding 0.3s;
  }

  :local(.profile-menu) {
    transition: padding 0.3s;
  }
}

:local(.sidebar-logo) {
  transition: padding 0.3s;
}
