.sidebar {
  display: flex;
  height: 100%;
  width: 70px;
  transition: width 0.3s;

  &-logo {
    transition: padding 0.3s;
  }

  &.open {
    width: 150px;

    .link-title {
      visibility: visible;
      opacity: 1;
      margin-left: 8px;
    }

    .username,
    .points {
      visibility: visible;
      opacity: 1;
    }

    .username {
      font-weight: bold;
    }
  }

  .link-title {
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s, width 0.3s;
  }

  .username,
  .points {
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s, padding 0.3s;
  }

  .username {
    &-link {
      transition: padding 0.3s;
    }
  }
}
