:local(.header .search-bar) input {
  background-color: rgba(255, 255, 255, 0.33);
  border-color: rgba(255, 255, 255, 0.08);
  &::placeholder {
    color: #398083;
  }
}

:local(.dot) {
  width: 5px;
  margin-bottom: 2px;
  color: #fff;
  &.active {
    color: red;
    animation: blink 1s steps(1) infinite;
  }
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
