.join-league {
  &-item {
    position: relative;

    .title {
      font-size: 25px;
      line-height: 28px;
    }

    &:first-child {
      margin-bottom: 40px;
    }
  }

  body {
    font-family: Helvetica, sans-serif;
  }

  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    width: 100%;
    color: #4a5568;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    line-height: 1.25;
    display: block;
    border-radius: 3px;
    border: 1px solid #edf2f7;
    background-color: #edf2f7;
  }

  .react-autosuggest__input:focus {
    outline: none;
  }

  .react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    top: 45px;
    width: 100%;
    border: 1px solid #a9acaf;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 2;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }

  .react-autosuggest__suggestion:not(:first-child) {
    border-top: 1px solid #ddd;
  }

  .react-autosuggest__suggestion--focused {
    background-color: #0c7eaf;
    color: #fff;
  }

  .suggestion-content {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
  }

  .name {
    margin-left: 68px;
    line-height: 45px;
  }

  .highlight {
    color: #ee0000;
    font-weight: bold;
  }

  .react-autosuggest__suggestion--focused .highlight {
    color: #120000;
  }
}

@media screen and (min-width: 768px) {
  .join-league {
    &-content {
      &.paper {
        padding-bottom: 100px;
      }
    }

    &-item {
      margin-bottom: 0 !important;

      button {
        position: absolute;
        bottom: -40px;
      }
    }
  }
}
